TLS SNI requirement is incompatible with TLS SNI definition

Section 4.1 contains the following language: https://github.com/w3c/openscreenprotocol/blob/5488c7b7cce9c9c64ba97348a8deb0c6c50eb9bb/index.bs#L343-L345

This may be incompatible with the definition of SNI from [RFC 6066, Section 3](https://tools.ietf.org/html/rfc6066#section-3), which normatively references [RFC 5890](https://tools.ietf.org/html/rfc5890), which has LDH labels (of which A-Labels are a subset), expanded on in [Section 2.3.1](https://tools.ietf.org/html/rfc5890#section-2.3.1)

The issue here is that underscore, as used by these records, is not part of the Preferred Name Syntax (which only allows Letters, Digits, and Hyphens). This is also called out within [RFC 8499](https://tools.ietf.org/html/rfc8499#section-2), which states:

>      This term and its equivalent, "hostname", have been
>       widely used but are not defined in [RFC1034], [RFC1035],
>       [RFC1123], or [RFC2181].  The DNS was originally deployed into the
>       Host Tables environment as outlined in [RFC952], and it is likely
>       that the term followed informally from the definition there.  Over
>       time, the definition seems to have shifted.  "Host name" is often
>       meant to be a domain name that follows the rules in Section 3.5 of
>       [RFC1034], which is also called the "preferred name syntax".  (In
>       that syntax, every character in each label is a letter, a digit,
>       or a hyphen).  Note that any label in a domain name can contain
>       any octet value; hostnames are generally considered to be domain
>       names where every label follows the rules in the "preferred name
>       syntax", with the amendment that labels can start with ASCII
>       digits (this amendment comes from Section 2.1 of [RFC1123]).

It's not obvious why SNI needs to be supported for this use case, so I'm not sure where to offer productive suggestions (e.g. as an Errata/attempt to redefine SNI to unambiguously allow arbitrary _domain_ names, and not just _host_ names, or some other TLS approach).

Could you clarify why the server needs to know the expected fingerprint, given that it will have advertised that via mDNS? If a certificate rotation event occurs, presumably, the mDNS update flow can handle this?

Proposal by David Schinazi in code review:

> It sounds like the OpenScreenProtocol specification is using SNI incorrectly. The host name in the SNI should be the "Service Instance Name" as defined in RFC 6763. I'd recommend fixing the OSP spec to pass in the correct hostname to TLS instead of making QUICHE allow invalid hostnames.

From skimming this issue, your best bet is most likely to drop SNI usage entirely. The purpose of SNI is to allow the client to give the server a hint as to what certificate it should use. Unless I'm misunderstanding things, that's not useful here.

It could be useful in situations where multiple agents are sharing a IP:port, because of proxies, or firewall rules preventing binding of multiple ports.  However it's not strictly necessary.


That makes sense, thanks. In that scenario, would the agents have distinct Instance Names? If they do, then we could have the SNI match the actual mDNS hostname of the agent. We'd still need to figure out the underscores, but we'd be closer.

Actually, the underscore wouldn't be a problem. With mDNS, you browse for `_openscreen._udp.local` and that allows you to find `BigTV.local`, which you can then put in the SNI. Any reason not to do that?

> Actually, the underscore wouldn't be a problem. With mDNS, you browse for `_openscreen._udp.local` and that allows you to find `BigTV.local`, which you can then put in the SNI. Any reason not to do that?

When RFC 6066 says ""HostName" contains the fully qualified DNS hostname of the server, as understood by the client", that is usually taken to mean before doing any CNAME chasing or lookup.  That said, if you're going to specify special behavior for a given application protocol (like dropping underscores) that doesn't seem especially different from specifying that the mDNS resolution of the provided name is ok, provided that the resulting security considerations are accurately documented.

mDNS/DNS-SD doesn't involve CNAMEs. First you browse (by querying for PTR records), in this case with service type set to `_openscreen._udp`. That'll provide a list of instances, which are represented as tuples (instance name, service type, domain) where the service type will always be `_openscreen._udp`, and for mDNS the domain will be `local`. Then for each of those, you lookup its SRV record to get the corresponding hostname and port. In this scenario, the hostname will be something like `BigTV.local`, it won't contain the service name (the service name is only used when querying PTR and SRV records, not A or AAAA). So if the application protocol uses TLS/QUIC, then normally the TLS SNI would be set to `BigTV.local`.

I think a desired approach might be something like Martin Thomson's HTTPS for Local Domains, but it would need to be defined in some other context.  See https://docs.google.com/document/d/170rFC91jqvpFrKIqG4K8Vox8AL4LeQXzfikBQXYPmzU/edit#heading=h.cp9yfs7gg5p7 for an example proposal.

This same thing was coming up as a problem for ADD and there was talk about having an IETF BOF on this topic.

But in that context, the mDNS responder would include a public key fingerprint as part of its response, and the public key fingerprint would be part of the HTTP Origin as well.  There'd be a cryptographic binding between the mDNS response and the TLS connection, and any state would be scoped solidly to the key (eg, so if the key changed there wouldn't be leakage).

In that case the TLS SNI would be something like _NPNE4IG2GJ4VAL4DCHL64YSM5BII4A2X.BigTV.local



@enygren while I absolutely agree that solving the problem of insecure local connectivity is important and worth spending time on, this issue is about the Open Screen Protocol. And OSP is definitely not the right place to solve this large complex security issue. OSP has its own security model for exchanging keys. If binding those to the TLS handshake is worthwhile, the SNI is not the right place to do it.

Closed by the PR landed for #276.